.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
    
    
}
.item{
    
    background-color:lightcyan;
    border: 1px solid black;
}
